<?xml version="1.0" encoding="utf-8" ?>
<!-- Development config: Assembly loaded via project reference, this just registers client resources -->
<module clientResourceRelativePath="ClientResources">
  <clientResources>
    <add name="opti-external-blocks" path="Scripts/opti-external-blocks" resourceType="Script" />
    <add name="opti-external-blocks-styles" path="Styles/externalcontent.css" resourceType="Style" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" />
    </moduleDependencies>
  </clientModule>
  <dojo>
    <paths>
      <add name="opti-external-blocks" path="Scripts/opti-external-blocks" />
    </paths>
  </dojo>
</module>
